* {
	box-sizing: border-box;
}

body { 
    background-color: darkturquoise;

}

h1,h2,h3{
 text-align: center;   
 font-family: 'Courgette', cursive;  
 
    
}
h5,h6{
     
    text-align:left;

}
 footer {
    text-align: center;
     font-family: 'Coming Soon', cursive;
background-color: whitesmoke;
    }

nav ul{
	text-align: center;
	 list-style-type: none;
    overflow: hidden;
    background-color: cadetblue;
}

nav li {
	display: inline;
}

nav li a {
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: wheat;
}


.container {
	width:80%;
	margin: 0 auto;
}

.left,.center,.right{

	margin:0;
	padding:0;
	width:33.3333%;
	padding: 0 20px;
}

.left {

	float:left;
}

.right{ 
	float:right;
}

.center{
 display:inline-block;	

}

.geo img{
width:100%;
height:200px;
}
