

body { 
    background-color: darkturquoise;

}

h1,h2,h3{
 text-align: center;   
 font-family: 'Courgette', cursive;  
 
    
}
        h5,h6{
     
    text-align:left;

}

h8 {
padding-left: 3cm;    
font-family: 'Courgette', cursive;
    
}
    
    footer {
    text-align: center;
     font-family: 'Coming Soon', cursive;
background-color: whitesmoke;
    }